#createChatroomToggleVisibilityButton {
  height: 100px;
  cursor: pointer;
  background-color: #ffa600;
}

#createChatroomToggleVisibilityButton:hover {
	animation-name: createChatroomToggleVisibilityButtonHover;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
  
@keyframes createChatroomToggleVisibilityButtonHover {
  100% {
    background-color: white;
    color: white;
  }
}

#createChatroomToggleVisibilityButton:hover > #plus {
  animation-name: plusHover;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}
  
@keyframes plusHover {
  100% {
    background:
      linear-gradient(#ffa600,#ffa600),
      linear-gradient(#ffa600,#ffa600),
      white;
    background-position:center;
    background-size: 100% 20px,20px 100%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
  }
}

#plus {
  display:inline-block;
  width:60px;
  height:60px;
  
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    #ffa600;
  background-position:center;
  background-size: 100% 20px,20px 100%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

#plusIcon {
  font-size: 90px;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  --background: white;
	--border: rgba(0, 0, 0, 0.125);
	--borderDark: rgba(0, 0, 0, 0.25);
	--borderDarker: rgba(0, 0, 0, 0.5);
	--bgColorH: 0;
	--bgColorS: 0%;
	--bgColorL: 98%;
	--fgColorH: 210;
	--fgColorS: 50%;
	--fgColorL: 38%;
	--shadeDark: 0.3;
	--shadeLight: 0.7;
	--shadeNormal: 0.5;
	--borderRadius: 0.125rem;
	--highlight: #306090;
	background: white;
	border: 1px solid var(--border);
	border-radius: var(--borderRadius);
	box-shadow: 0 1rem 1rem -0.75rem var(--border);
	display: flex;
	flex-direction: column;
  margin: 10% auto auto auto;
  padding: 0rem 2rem 2rem 2rem;
  width: 18rem;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#createChatroomForm {
  display: flex;
  flex-direction: column;
}

.input {
	border: 1px solid var(--border);
	border-radius: var(--borderRadius);
	box-sizing: border-box;
	font-size: 1rem;
	height: 2.25rem;
	line-height: 1.25rem;
	margin-top: 0.25rem;
	order: 2;
	padding: 0.25rem 0.5rem;
	width: 18rem;
	transition: all 0.25s;
}

.participant-input {
  width: 15rem;
}

#createChatroomButton {
  width: 18rem;
  background-color: #ffa600;
  cursor: pointer;
}

.form-icon {
  margin: auto;
  position: relative;
  top: 6px;
  cursor: pointer;
  color: #ffa600;
}

.form-group {
  margin: 5px 0px 5px 0px;
}